{% load static %}
{% block login %}
<head>
    <style>
        a {
    text-decoration: none !important;
<we></we>    </style>
<link rel="stylesheet" href="{% static 'user/css/login.css' %}"></head>
<body>
<div class="login">
<h1>Login</h1>
<form method="post">
    <div class = "labelss">
  {% csrf_token %}
  {{ form.as_p }}
        </div>
          <button type="submit" class="btn btn-primary btn-block btn-large">Login</button><br>

         <a href = "{% url 'signup' %}" ><button class="btn btn-primary btn-block btn-large">Register</button> </a>
</form>
</div>
    {% endblock %}
</body>







